#items{
    overflow: scroll;
   
}
a{
    text-decoration: none;
    list-style: none;
    border: none !important;
}
ul li{
    font-size: 0.9em;
    color: #000000bd;
    font-weight: 500;
  
    border: none !important;
}